::selection { background: black; color: white; }
::-moz-selection { background: black; color: white; }

#intro {

	background: black no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;

	height: em(350);
	
	h1 {
		position: absolute;
		left: 35%;
		color: white;
		bottom: em(25);
		font-size: em(33);
		font-style: italic;
		line-height: 1em;
		letter-spacing: -0.5px;
	}

	img {
		opacity: .3;
	}

}

.left {
	width: em(230);
	position: absolute;
	background: transparent;
	padding-left: 5%;
	padding: em(100) 0 0 5%;
	z-index: 1;
	@include transition(all ease .4s);

	&.fixed {
		position: fixed;
		top: 30px;
		padding-top: em(140);

	}
	
}

.logo {
	position: absolute;
	top: em(-120);
	display: block;
	height: 70px;
	width: 200px;
	@include transition(all ease .4s);
	
	svg {
		display: block;
		width: 135px;
	}
	
	.logoFill {
		@include transition(all ease .4s);
		fill: white;
	}


	a {
		display: block;
		text-indent: -9999px;
	}
		
	&:after {
		content: ' ';
		position: absolute;
		top: -160px;
		display: block;
		background: white;
		width: 25px;
		height: 50px;
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
	}
	&.inview {
		opacity: 1;
		display: block;
		top: 30px;
		margin-top: 0px;
		
		.logoFill {
			fill: black;
		}

	}
}


.side {

	nav {
		font: 28px/32px $serif;
	}
	ul {

		li {
			padding: em(4) 0 0 0;
			a {
				color: black;
				font-family: $serif;
				font-size: em(18);
				letter-spacing: -0.5px;
				&:hover {
					color: #666;
				}
			}
		}
	}

	a.shop {

	}

	ul.sub {
		padding-left: em(10);
		li.type {
			font-style: italic;
		}

		a {

		}
		&.hidden {
			display: none;
		}
	}

}


#wrap {
	
	float: right;
	width: 65%;
	//background: yellow;
	
	img {
		opacity: .7 !important;
	}
}



#about {
	padding: em(100) 20% em(20) 0;
	h3 {
		font-family: $serif;
		font-size: em(33);
		// line-height: 1.1em;
		@media only screen and (max-width: 800px) {
			font-size: em(28);
		}
	}

}


#shop {
	padding-top: em(80);
}

.book {
	margin-left: -30%;
	width: calc(100% + 100px);
	float: left;
	.slides {

		div {

		}

		img {
			margin: 0 !important;
		}
		.slick-slide {
			margin: 0 !important;
		}
	}

	.slidenav {
		text-indent: -9999px;
		display: block;
		width: 50%;
		height: 100px;
		position: relative;
		@media only screen and (max-width: 800px) {
			display: none;
		}

		&:hover {
			cursor: none;
		}

		&.bottom {
			.cursor {
				@include transform(scaleX(-1));	
			}
		}	
		.cursor {
			position: absolute;
			width: 5px;
			height: 5px;
			pointer-events: none;
			border-right: 17px solid black;
			border-top: 7px solid transparent;
			border-bottom: 7px solid transparent;	
			@include transition(transform ease .4s);
		}		

	}


	.info {
		padding-left: calc(30% - 30px);
		float: left;
		width: 70%;
		//background: grey;

		h4 {
			font: 32px/38px $serif;
			margin-bottom: em(10);
		}
		p {
			padding-right: em(55);
			font: 20px/26px $serif;
			color: black;
			@media only screen and (max-width: 800px) {
				padding-right: 0;
			}
		}

	}
	.buy {
		float: left;
		width: 30%;

		.price, .add {
			display: block;
			font: 32px/38px $serif;
			webkit-font-feature-settings: "onum";
			font-feature-settings: "onum";
		}
		.add {
			color: black;
			font-style: italic;
		}
	}

}


.prints {
	margin-left: -30%;
	width: calc(100% + 100px);
	float: left;
	padding-top: em(80);
	h3 {
		font: 32px/38px $serif;
		display: block;
		float: left;
		width: 100%;
		padding-left: calc(30% - 30px);
		margin-bottom: em(20);
		font-style: italic;
	}

	.info {
		padding-left: calc(30% - 30px);
		float: left;
		width: 70%;
		padding-top: em(30);
		padding-bottom: em(80);
		p {
			padding-right: em(55);
			font: 20px/26px $serif;
			color: black;
			@media only screen and (max-width: 800px) {
				padding-right: 0;
			} 
		}
	}

}


.print {

	width: 50%;
	float: left;
	position: relative;
	padding: 0 em(20) em(15) 0;
	overflow: hidden;

	.buy {
		position: absolute;
		bottom: em(10);
		left: em(15);
		font: 19px/24px $serif;
		@include transition(all ease .4s);
		color: #333;

		.title {
			display: block;
			color: black;
		}
		.price {
			opacity: 0;
			@include transition(all ease .3s .1s);
			padding-right: em(10);
		}
		.add {
			opacity: 0;
			@include transition(all ease .3s .2s);
			color: #333;
			font-style: italic;
			&:hover {
				color: black;
			}
		}
		
	}
	&:hover, &.touch {
		.buy {
			bottom: em(30);
		}
		.price {
			opacity: 1;
		}
		.add {
			opacity: 1;
		}		

	}

}


footer {
	padding: em(50) 0;
	width: 65%;
	float: right;
	
	span {
		display: block;
		font: 19px/24px $serif;
		color: #333;

	}
	.credit {
		font-style: italic;
	}
	a {
		color: #333;
	}
	a:hover  {
		color: black;
	}
}
