::selection { background: black; color: white; }
::-moz-selection { background: black; color: white; }

#load {
	position: fixed;
	background: black;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 9999;
	pointer-events: none;
	@include transition(all cubic-bezier(.54,.06,.48,.97) .4s);
	&.hide {
		opacity: 0;
		//@include transform(translateY(-100%));
	}
	&:after {
		content: '';
		background: url(../images/loader.png) center center no-repeat; 
		display: block;
		width: 42px;
		height: 42px;
		position: fixed;
		z-index: 2;
		left: 50%;
		top: 50%;
		margin: -21px 0 0 -21px;
		@include animation(spinnin .75s ease infinite);		
	}
}

@include keyframes(spinnin) {
	0%   {  } 100% { @include transform(rotate(360deg)); }
}

@include keyframes(drift) {
	0%   { background-position: 0px 0px; } 
	100% { background-position: 0px 1000px; }
}


body {
	margin-top: -100px;
}

#intro {

	background: black no-repeat center bottom fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;

	height: em(350);
	@media only screen and (max-width: $phone) { 
		height: em(320);
	}

	&:after {
		content: '';
		position: absolute;
		background: rgba(0,0,0,.7);
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-blend-mode: multiply;
	}
	
	h1 {
		position: absolute;
		left: 35%;
		color: white;
		bottom: em(25);
		font-size: em(33);
		font-style: italic;
		line-height: 1em;
		letter-spacing: -0.5px;
		z-index: 1;
		@media only screen and (max-width: $phone) {  
			left: 5%;
			bottom: em(15);
		}
	}

	img {
		opacity: .3;
	}

}

.left {
	width: em(230);
	position: absolute;
	background: transparent;
	padding-left: 5%;
	padding: em(100) 0 0 5%;
	z-index: 1;
	@include transition(all ease .4s);

	&.fixed {
		position: fixed;
		top: 30px;
		padding-top: em(140);

	}
	
}

.logo {
	position: absolute;
	top: em(-120);
	display: block;
	height: 70px;
	width: 200px;
	@include transition(all ease .4s);
	
	@media only screen and (max-width: $phone) {  
		top: em(-190);
	}

	svg {
		display: block;
		width: 135px;
	}
	
	.logoFill {
		@include transition(all ease .4s);
		fill: white;
	}

	a {
		display: block;
		text-indent: -9999px;
	}
		
	&:after {
		content: ' ';
		position: absolute;
		top: em(-160);
		display: block;
		background: url(../images/logo-bg4.jpg) repeat;
		width: 25px;
		height: 50px;
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
		@include animation(drift 80s linear infinite);		
		@media only screen and (max-width: $phone) {  
			top: em(-100);
		}
	}
	&.inview {
		opacity: 1;
		display: block;
		top: 30px;
		margin-top: 0px;
		
		.logoFill {
			fill: black;
		}

	}
}


.side {
	
	@include transition(all ease .4s);
	
	@media only screen and (max-width: $phone) { 
		display: none;

		a.snipcart-checkout {
			display: block;
			position: fixed;
			top: em(20);
			right: em(20);
			z-index: 9999;
		}

	}
	nav {
		font: 28px/32px $serif;
	}
	ul {

		li {
			padding: em(4) 0 0 0;
			a {
				color: black;
				font-family: $serif;
				font-size: em(18);
				letter-spacing: -0.5px;
				&:hover {
					color: #666;
				}
			}
		
			@media only screen and (max-width: $phone) { 
				li a.snipcart-checkout {
					display: block;
					position: fixed;
					bottom: em(20);
					right: em(20);
					z-index: 9999;
					background: red;
				}
			}


		}
	}

	.snipcart-total-items {
		display: inline-block;
		font-family: monospace;
		width: 26px;
		height: 26px;
		background: black;
		text-align: center;
		color: white;
		border-radius: 20px;
		font-size: 14px;
		margin-bottom: 5px;
		line-height: 27px;
		position: absolute;
		bottom: 0px;
		margin-left: 10px;
		opacity: 0;
		@include transition(all ease .3s);
		
		&.visible {
			opacity: 1;
			@include animation(poppy .7s ease 1 running);
			// @include animation-play-state(running);
		}
	}



	a.shop {

	}

	ul.sub {
		padding-left: em(10);
		li.type {
			font-style: italic;
		}

		a {

		}
		&.hidden {
			display: none;
		}
	}

}

@include keyframes(poppy) {
	0% {
		@include transform(scale(0));
		//background: red;
	}
	50% {
		@include transform(scale(1.15));
		//background: green;
	}
	100% {
		@include transform(scale(1));
		//background: blue; 
	}
}


#wrap {
	
	float: right;
	width: 65%;
	@media only screen and (max-width: $phone) { 
		width: 100%;
	}
	
	// img {
	// 	opacity: .7 !important;
	// }
}



#about {
	padding: em(100) 20% em(20) 0;
	h3 {
		font-family: $serif;
		font-size: em(33);
		color: black;
		@media only screen and (max-width: $tablet) {
			font-size: em(28);
		}
	}
	@media only screen and (max-width: $phone) {
		padding: em(30) em(20) em(30);
		h3 { 
			font: 19px/26px $serif;
		}
	}

}


#shop {
	padding-top: em(80);
	@media only screen and (max-width: $phone) {
		padding-top: 0;
	}
}

.book {
	margin-left: -30%;
	width: calc(100% + 100px);
	float: left;
	position: relative;
	@media only screen and (max-width: $phone) {
		width: 100%;
		margin-left: 0; 
	}
	.slides {
		@media only screen and (max-width: $phone) {
			width: 100%;
			overflow: hidden;
			margin-bottom: em(20);
		}
		div {

		}

		img {
			margin: 0 !important;
		}
		.slick-slide {
			margin: 0 !important;
		}
	}

	.slidenav {
		text-indent: -9999px;
		display: block;
		width: 50%;
		height: 100px;
		position: relative;
		top: 0px;
		@media only screen and (max-width: $tablet) {
			display: none;
		}

		&:hover {
			cursor: none;
		}

		&.bottom {
			.cursor {
				// @include transform(scaleX(-1));	
			}
		}	
		.cursor {
			position: absolute;
			width: 5px;
			height: 5px;
			pointer-events: none;
			border-right: 17px solid black;
			border-top: 7px solid transparent;
			border-bottom: 7px solid transparent;	
			@include transition(transform ease .4s);
			@include transform(rotate(90deg));	
		}		

	}


	.info {
		padding-left: calc(30% - 30px);
		float: left;
		width: 70%;
		padding-top: em(20);
		@media only screen and (max-width: $phone) {
			padding: 0 em(20);
			width: 100%;
		}
		//background: grey;

		h4 {
			font: 32px/38px $serif;
			margin-bottom: em(10);
			@media only screen and (max-width: $phone) {
				font: 26px/32px $serif;	
			}
		}
		p {
			padding-right: em(55);
			font: 20px/26px $serif;
			color: black;
			@media only screen and (max-width: $tablet) {
				padding-right: 0;
			}
			@media only screen and (max-width: $phone) {
				font: 19px/26px $serif;
			}
		}

	}
	.buy {
		float: left;
		width: 30%;
		padding-top: em(20);
		@media only screen and (max-width: $phone) {
			width: 100%;
			padding: 0 em(20);
		}

		.price, .add {
			display: block;
			font: 32px/38px $serif;
			webkit-font-feature-settings: "onum";
			font-feature-settings: "onum";
			@media only screen and (max-width: $phone) {
				display: inline;	
				font: 21px/26px $serif;
			}
		}
		.add {
			color: black;
			font-style: italic;
			@media only screen and (max-width: $phone) {
				padding-left: em(10);
			}
		}
	}

}


.prints {
	margin-left: -30%;
	width: calc(100% + 100px);
	float: left;
	padding-top: em(80);
	@media only screen and (max-width: $phone) {
		width: 100%;
		padding: em(20);
		margin-left: 0;
	}
	h3 {
		font: 32px/38px $serif;
		display: block;
		float: left;
		width: 100%;
		padding-left: calc(30% - 30px);
		margin-bottom: em(20);
		font-style: italic;
		@media only screen and (max-width: $phone) {
			padding-left: 0;
			margin: em(20) 0 em(10) 0;
			font: 26px/32px $serif;
		}
	}

	.info {
		padding-left: calc(30% - 30px);
		float: left;
		width: 70%;
		padding-top: em(30);
		padding-bottom: em(80);
		@media only screen and (max-width: $phone) {
			padding: em(0);
			width: 100%;
		}
		p {
			padding-right: em(55);
			font: 20px/26px $serif;
			color: black;
			@media only screen and (max-width: $tablet) {
				padding-right: 0;
			} 
			@media only screen and (max-width: $phone) {
				font: 19px/26px $serif;
			}
		}
	}

}


.print {

	width: 50%;
	float: left;
	position: relative;
	padding: 0 em(20) em(15) 0;
	overflow: hidden;
	@media only screen and (max-width: $phone) {
		width: 100%;
		padding: 0 0 em(30) 0;
	}
	img {
		background: black;
		@include transition(all ease .2s);
	}


	&:after {
		opacity: 0;
		content: ' ';
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		background: black;
		margin: 0 em(20) em(15) 0;
		@include transition(all ease .2s);
	}

	.buy {
		position: absolute;
		z-index: 1;
		bottom: em(10);
		left: em(15);
		font: 19px/24px $serif;
		@include transition(all ease .4s);
		color: #333;
		@media only screen and (max-width: $phone) {
			position: relative;
			bottom: none;
			top: em(5);
			left: 0;
		}

		.title {
			display: block;
			color: white;
		}
		.price {
			opacity: 0;
			@include transition(all ease .3s .1s);
			padding-right: em(10);
			color: white;
		}
		.add {
			opacity: 0;
			@include transition(all ease .3s .2s);
			color: white;
			font-style: italic;
			&:hover {
				color: white;
			}
		}
		
	}
	&:hover, &.touch {
		.buy {
			bottom: em(30);
		}
		.price {
			opacity: 1;
		}
		.add {
			opacity: 1;
		}		
	}
	&:hover {
		
		&:after {
			opacity: .5;
			content: ' ';
			display: block;
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			background: rgba(0,0,0,.5);
			margin: 0 em(20) em(20) 0;
		}


	}

}


footer {
	padding: em(50) 0;
	width: 65%;
	float: right;
	@media only screen and (max-width: $phone) {
		width: 100%;
		float: left;
		padding: em(20);
	}
	
	span {
		display: block;
		font: 19px/24px $serif;
		color: #333;

	}
	.copy {
		@media only screen and (max-width: $phone) {
			width: em(150);
		}
	}
	.credit {
		font-style: italic;
	}
	a {
		color: #333;
	}
	a:hover  {
		color: black;
	}
}

.snipcart-checkout-container {
	background: rgba(0,0,0,.8);
	
	span, button, a, label, input, option, select, th {
		font-family: $serif !important;
	}
	th, label {
		font-size: 13px !important;
	}
	span, input, option, select {
		font-size: 16px !important;
	}
	input, option, select {
		font-size: 18px !important;
	}
	.snipcart-step-number {
		display: none !important;
	}

	ul#snipcart-steps li {
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(224,224,224,1) 100%);
		border-color: white;
	}

	ul#snipcart-steps li span {
		padding-left: 12px !important;
		font-size: 14px;
		width: 90%;
	}
	#snipcart-header {
		
		background: rgb(255,255,255);

		#snipcart-title {
			font-family: $serif;
			font-size: 32px;
			color: black;
			padding: 0;
		}
	}
	
	ul#snipcart-steps li.active {
		background: white;
	}

	#snipcart-main-container a.snipcart-next {
		background: rgba(135,219,87,1);
		border: none;
		text-shadow: none;
	}
	#snipcart-main-container a.snipcart-btn {
		box-shadow: none;
	}

	#snipcart-close {
		width: 20px;
		height: 20px;
		background-color: black;
		background-position: 5px 5px;
		border-radius: 10px;
	}
}
