<div class="left">

	<div class="logo">

		<a href="#intro">
			{% include shared/logo.html %}
		</a>

	</div>

	<div class="side">

		<nav>
			<ul>
				<li><a href="#about">About</a></li>
				<li><a class="shop" href="#">Shop</a>
					<ul class="sub hidden">
						<li class="type"><a href="#shop">Books</a></li>
						<li class="type"><a href="#prints">Prints</a></li>
					</ul>
				</li>
				<li>
					<a href="#" class="snipcart-checkout">Cart
						<span class="snipcart-summary">
	    				<span class="snipcart-total-items"></span>
	    				</span>
    				</a>
				</li>
			</ul>
		</nav>

	</div>

</div>