<!-- build:js({app,.tmp}) /js/app.js -->
<script src="/vendor/slick.js/slick/slick.min.js"></script>
<script src="/vendor/jquery.scrollTo/jquery.scrollTo.min.js"></script>
<script src="/vendor/jquery.localScroll/jquery.localScroll.min.js"></script>
<script src="/vendor/jquery.easing/js/jquery.easing.min.js"></script>
<script src="/vendor/photoswipe/dist/photoswipe.min.js"></script>
<script src="/vendor/photoswipe/dist/photoswipe-ui-default.js"></script>
<script src="/js/app.js"></script>
<!-- endbuild -->
