<!-- build:css({app,.tmp}) /styles/screen.css -->
<link rel="stylesheet" href="/vendor/normalize-css/normalize.css">
<link rel="stylesheet" href="/vendor/slick.js/slick/slick.css">
<link rel="stylesheet" href="/vendor/photoswipe/photoswipe.css">
<link rel="stylesheet" href="/vendor/photoswipe/default-skin/default-skin.css">
<link rel="stylesheet" href="/styles/syntax.css">
<link id="snipcart-theme" type="text/css" href="https://app.snipcart.com/themes/base/snipcart.css" rel="stylesheet">
<link rel="stylesheet" href="/styles/screen.css">
<!-- endbuild -->
